<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="bastaEntities" connectionString="metadata=res://*/dbBasta.csdl|res://*/dbBasta.ssdl|res://*/dbBasta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FLLKC20\SQLEXPRESS;initial catalog=basta;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="juegoBasta.ServiceBasta">
        <endpoint address="juegoBasta" binding="netTcpBinding" bindingConfiguration="" contract="juegoBasta.IServiceBastaCodigo"/>
        <endpoint address="juegoBasta" binding="netTcpBinding" bindingConfiguration="" contract="juegoBasta.IServiceBastaSala"/>
        <endpoint address="juegoBasta" binding="netTcpBinding" bindingConfiguration="" contract="juegoBasta.IServiceLogin"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081"/>
            <add baseAddress="net.tcp://localhost:8090"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>