
HostServiceBasta/obj/Debug/HostServiceBasta.csprojAssemblyReference.cache
HostServiceBasta/obj/Debug/HostServiceBasta.csproj.CoreCompileInputs.cache
HostServiceBasta/obj/Debug/HostServiceBasta.csprojAssemblyReference.cache
*.cache
*.cache
cliente/obj/Debug/cliente_MarkupCompile.cache
HostServiceBasta/obj/Debug/HostServiceBasta.csprojAssemblyReference.cache
juegoBasta/obj/Debug/juegoBasta.csprojAssemblyReference.cache
*.cache
*.cache
cliente/obj/Debug/cliente.csproj.CoreCompileInputs.cache
*.baml
*.testlog
*.ide
juegoBasta/.vs/juegoBasta/v16/.suo
cliente/obj/Debug/NuevaSalaEspera.baml
