
HostServiceBasta/obj/Debug/HostServiceBasta.csprojAssemblyReference.cache
HostServiceBasta/obj/Debug/HostServiceBasta.csproj.CoreCompileInputs.cache
HostServiceBasta/obj/Debug/HostServiceBasta.csprojAssemblyReference.cache
*.cache
*.cache
cliente/obj/Debug/cliente_MarkupCompile.cache
HostServiceBasta/obj/Debug/HostServiceBasta.csprojAssemblyReference.cache
