<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="bastaEntities" connectionString="metadata=res://*/dbBasta.csdl|res://*/dbBasta.ssdl|res://*/dbBasta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FLLKC20\SQLEXPRESS;initial catalog=basta;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceBasta">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/juegoBasta" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceBasta" contract="ServiceBasta.IServiceBasta"
                name="NetTcpBinding_IServiceBasta">
                <identity>
                    <userPrincipalName value="DESKTOP-FLLKC20\irasema" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>